{% extends "base.html" %}
{% block title %}My Portfolio{% endblock %}
{% block body %}
    <section id="about">
        <h2>About me</h2>
        <p>Hello! 👋 I'm Shashank. This is my first website hosted on GitHub Pages. 
       I'm learning web development and experimenting with HTML, CSS, and GitHub.</p>
    </section>
    
    <section id="education">
        <h2>Education</h2>
        <ul>
            <li>
                <strong>Bachelor of Technology (B.Tech), Computer Science Engineering</strong><br>
                Lovely Professional University (LPU), Punjab | 2025 – 2029<br>
                <em>Coursework:</em> Python, Internet Programming, Engineering Physics, AutoCAD, HTML
            </li>
            <br>
            <li>
                <strong>Senior Secondary Education</strong><br>
                Sunbeam School, Mau, Uttar Pradesh | 2019 – 2024<br>
                <em>Coursework:</em> Python Beginner Course
            </li>
            <br>
            <li>
                <strong>Self Education</strong><br>
                Youtube, Tutedude        
            </li>
        </ul>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <ul>
            <li>🔐 <a href="https://github.com/Github-Shashank/caesar-cipher-tool"  target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Caesar Cipher Tool</a> - A simple Java-based encryption/decryption tool.</li>
            <li>🖥️ <a href="https://github.com/Github-Shashank/Assembly-Simulator"  target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Custom CPU Simulator</a> -  Minecraft redstone computer with a 17-bit ISA.</li>
            <li>🧮 <a href="https://github.com/Github-Shashank/approximating-irrational-to-rational"  target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Irrational to Rational Approximation</a> - Python module for math simplification.</li>
        </ul>
        <p>Click <a href="projects">here</a> to explore more projects.</p>
    </section>

    <section id="certificates">
        <h2>Certificates</h2>
        <ul>
            <li><a href="">Effective Time Managment</a> - MOOC course by Tech Veda</li>
            <li><a href="">Healthy Habits for Healthy Life</a> - MOOC course by Edu Tech Hub</li>
        </ul>
        <p>Click <a href="certificates">here</a> for more certificates.</p>
    </section>

{% endblock %}